/* Reset some default browser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;

    --header-height: 70px;
}
/* 
header {
    background-color: #272727;
    height: var(--header-height);
    position: sticky;
    top: 0;
    z-index: 1;
}

aside {
    width: 250px;
    flex-shrink: 0;
    position: sticky;
    top: var(--header-height);
    opacity: 0.5;
    background-color: #787878;
    max-height: calc(100dvh - var(--header-height));
    overflow-y: auto;
}

.container {
    display: flex;
    align-items: flex-start;
} */

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    border: 1px solid #4e4e4e;
    height: 50px;
    flex-shrink: 0;
}

.container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

aside {
    width: 250px;
    flex-shrink: 0;
    overflow: auto;
}

main {
    flex: 1;
    border: 1px solid #4e4e4e;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.projectinfo {
    height: 100px;
    background-color: #151515;
    flex-shrink: 0;
}

.board {
    flex: 1;
    background-color: #626262;
    overflow: auto;
    padding: 10px;
    gap: 10px;
    display: flex;
}

.column {
    background-color: black;
    width: 250px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

.column-header {
    height: 50px;
    border-bottom: 1px solid #4e4e4e;
    flex-shrink: 0;
}

.column-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.card {
    height: 150px;
    flex-shrink: 0;
    background-color: #151515;
}
